node_modules
.next
dist
static_output
user_input_files
extracted_sonoprep
sonoprep
sonoprep_premium
*.zip
node_modules
.pnpm-store
.next
dist
static_output
user_input_files
extracted_sonoprep
sonoprep
sonoprep_premium
*.zip
html_output
.env.local
.env.local
